{% extends "layout.html" %}
{% block body %}
<h2>Manage Your CV Account</h2>
<div id="enterNetID" class="row inputRow">
	<div class="inputGroup medium-6 columns">
		<input type="text" id="netID" name="netID" autocomplete="off" required="">
		<span class="bar"></span>
		<label>NetID</label>
	</div>
	<button id="changePassword" type="submit" class="button is-hidden" value="Change Password" onclick="changePassword()">Change Password</button>
	<span id="netID-error" class="form-error is-hidden medium-6 columns">A NetID enrolled in the CollegumV Honors Program is required. (NetID is case sensitive; try lowercase!)</span>
</div>
<div id="provisionAccount" class="row inputRow is-hidden">
	<div class="inputGroup medium-6 columns">
		<input type="text" id="username" name="username" autocomplete="off" required="">
		<span class="bar"></span>
		<label>Username</label>
	</div>
	<button id="provisionButton" class="button is-hidden" value="Create Account" onclick="createAccount()">Create Account</button>
	<span id="username-error" class="form-error is-hidden medium-6 columns">This username is not available.  Try a different one.</span>
</div>

{% endblock %}
