{% extends "layout.html" %}
{% block body %}

	<h4 id="success">Please check your UT Dallas email for further Instructions</h4>
	<h4 id="fail">An error occurred. Please contact cvadmins@utdallas.edu or try again later</h4>
	<div id="netid" >
	<h3>Please enter your Net ID:</h3>
	<input type="text" id="netID" placeholder="NetID" name="netID">
	</div>
	<div id="changePassword" >
		<input type="submit" class="button" value="Change Password" onclick="changePassword()">
	</div>
	<div id="provisionAccount" >
		<h3>Please enter a Username:</h3>
		<h4 id="usernameTaken">This username has been taken. Try a different one.</h4>
		<input type="text" id="username" placeholder="foobar" name="username" >
		<input type="submit" id="provisionButton" class="button" value="Create Account" onclick="createAccount()">
	</div>

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src={{ url_for('static', filename='js/account.js') }}></script>
{% endblock %}
